<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Avaliação Formadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Primeiro projeto no ionic</strong>
    <br>
    <br>
    <img src="/assets/Lucas.jpg" width="100">
    <br>
    <br>
    <strong>Nome:Lucas Henrique Santos da Silva</strong>
    <br>
    <br>
    <strong>Matricula:23106675</strong>

  </div>
</ion-content>